@charset "utf-8";
/* 기본설정 */
@import "default.css";
.sp_pre_main{
    position: relative;
    }
.sp_pre_main img{

    width: 100%;

}

.spList {
    position: relative;
}


.Listcontainer{
    position: relative;
}
.Listcontainer img{
    filter:brightness(50%);
}
.Listcontainer > div img{
    width: 100%;
}
.textbox{
    color: #fff;
    text-shadow: 5px 5px 5px #0000007A;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9998;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textbox h2{
    margin-bottom: 4%;
    letter-spacing: 4.56px;
}
.textbox p{
    margin-bottom: 7%;
}
.sticky{
    position: sticky;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.side_menu{
   
    z-index: 9999;
    width: 10%;
}
.side_menu li{
    color: #fff;
    margin-bottom: 5px;
    border-radius: 0 30px 30px 0;
    /* background-color: #E3BB17; */
    padding: 3px 10px;
    width: auto;
}
.side_menu{
    display: none;
    width: 10%;
}

.more_hover{
    display: none;
}
.more_hover, .more{
    filter: brightness(100%) !important;
    width: auto !important;
}

.textbox a{
    display: inline-block;
}
.side_menu a{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 3%;
    width: 100%;
}


/* 여기까지 special 미리보기 */

/* 여기서 부터 special */
.special_slide{
    overflow:hidden;
    position: relative;
}
.special_slide img{
    width: 100%;

}
.swiper-pagination-fraction{
    top: 50%;
    transform:translate(-50%,-50%) !important;
}
.swiper-wrapper{
    height: auto !important;
}
.special_contents{
    display: flex;
    overflow: hidden;

}

.special_contents img{
    object-fit: cover;
}
.special_contents .img01, .special_contents .img02{
    width: 100%;
    height: 100%;
}
.special_contents .leftbox img{
    filter: brightness(70%);
}
.special_contents .rightbox, .special_contents .leftbox{
    position: relative;
    width: 100%;
}

.leftbox .textbox2{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.rightbox .img03{
    position: absolute;
    top: 5%;
    left: 30%;

}
.rightbox .img04{
    position: absolute;
    top: 50%;
    left: 50%;
  
}
.rightbox .deco{
    position: absolute;
    bottom: 2%;
    left: 0;
}
.textbox2 h3{
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 7%;
}
.textbox2 h3 span{
    font-size: 18px;
}
.mo{
    display: none;
}
@media(max-width:1200px){
    .special_contents .img03, .special_contents .img04{
        width: 50%;
    }
    .special_contents .img04{
    top: 38%;
    }
    .rightbox .deco{
        width: 65%;
    }
}

@media(max-width:991px){
    .textbox2 h3{
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 5%;
        }
        .textbox2 h3 span{
            font-size: 16px;
        }
        .leftbox .textbox2{
            font-size: 14px;
        }
}

@media(max-width:768px){
    .special_slide{
        margin-bottom: 10%;
    }
    .pc{
        display: none;
    }
    .mo{
        display: block;
    }
    .sp_pre_main{
        margin-bottom: 10%;
    }
    .side_menu{
        width: 27%;
    }
    .more{
        display: none;
    }
    .more_hover{
        display: block;
    }
    .textbox a{
        display: flex;
        justify-content: center;
    }
    .spList{
        margin-bottom: 15%;
    }
    .special_contents{
        flex-direction: column;
    }
    .special_contents .img01{
        max-height: 600px;
    }
    .rightbox .img03{
        left: 8%;
    }
    .rightbox .img04{
        left:unset;
        right: 6%;
        top: 50%;
        
    }
    .textbox h2{
        font-size: 32px;
    }
    .textbox h2 span{
        font-size: 16px;
    }
}

@media(max-width:500px){
    .textbox{
        width: 100%;
    }
    .Listcontainer .textbox h2{
        font-size: 16px;
    }
    .Listcontainer .textbox p{
        font-size: 12px;
    }
    .side_menu a{
        font-size: 12px;
    }
    .side_menu{
        width: 32%;
    }
    .textbox a .more_hover{
        display: block;
        width: 25% !important;
    }
    .Listcontainer .textbox{
        width: 75%;
        margin: 0 auto;
    }
    .special_contents .img01{
        max-height: 450px;
    }
    .textbox2 h3{
        font-size: 24px;
        line-height: 32px;
    }
    .textbox2 h3 span{
        font-size: 14px;
    }
    .leftbox .textbox2{
        font-size: 12px;
    }
    .special_contents .img02{
        min-height: 450px;
    }
    .special_contents .img03, .special_contents .img04{
        width: 62%;
    }
    .rightbox .img03{
        top: 9%;
    }
    .rightbox .img04{
        top: 51%;
    }
    .rightbox .deco{
        width: 40%;
    }
    .textbox h2{
        font-size: 30px;
    }
    .textbox h2 span{
        font-size: 14px;
    }
}