@charset "utf-8";
/* 기본설정 */
@import "default.css";

.nav_all{
    display: flex;
    justify-content: end;
    margin: 1% 1% 0 0;
    margin-bottom: 5%; 
    flex-wrap: wrap;
}
.nav_line{
    margin: 0 4px;
}
.nav_all a{
    color: #000;
    font-weight: bold;
}

@media(max-width:768px){
    .nav_all{
        display: none;
    }
}