<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
        
    # trace
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS)
    RewriteRule .* - [F]
		
		RewriteCond %{HTTPS} !on
		RewriteCond %{HTTP_HOST} ^(?:[a-z0-9-]+\.)?krila\.re\.kr
		RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]
		
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ main.php [L]    
</IfModule>

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header always edit Set-Cookie (.*) "$1; HTTPOnly"
Header always edit Set-Cookie (.*) "$1; Secure"
